<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            register
        </title>
        <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous">
        </script>
        <script>
            if ("{{check}}" == 'fail')
                alert("이미 email, 비밀번호가 있습니다.")

        </script>
    </head>

    <body>
        <h1> 회원가입 </h1>
        <form id = "login" method = "POST" action = "/register_check">
            <input type = "text" name = "name" placeholder="Your name" />
            <input type = "email" name = "email" placeholder="Your Email" />
            <input type = "password" name = "password" placeholder="Password" />
            <input type = "number" name = "phone" placeholder = "-없는 전화번호" />
            <input type = "number" step="0.00000000000001" name = "lat" placeholder = "위도" />
            <input type = "number" step="0.00000000000001"  name = "lng" placeholder= "경도"/>
            <select name="kind">
                    <option value="1" selected="selected">병원</option>
                    <option value="2">상점</option>
                    <option value="3">환자</option>
                    <option value="4">병원 & 환자</option>
                    <option value="5">상점 & 환자</option>
                </select>
            <button type = "submit"> 회원가입 </button>
        </form>
    </body>
</html>