<!DOCTYPE html>
<head>
    <title>Select role</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous">
    </script>
    <script>
         $(document).ready(() =>{
            $("#selection").submit((e) => {
                var url = "/selection"
                e.preventDefault()
                var select = document.getElementById("selection")
                var uid = document.createElement("input")
                uid.type = "hidden"
                uid.name = "uid"
                uid.value = "{{uid}}"

                select.appendChild(uid)
                select.submit()
            })
         })
        
    </script>
</head>
<body>
    <div>
        Welcome {{ name }}
        </br>
        User type 을 결정해야 합니다.
    </div>
        <form id = "selection" method = "POST" action = "/selection">
            <select name="kind">
                <option value="1" selected="selected">병원</option>
                <option value="2">상점</option>
                <option value="3">환자</option>
                <option value="4">병원 & 환자</option>
                <option value="5">상점 & 환자</option>
            </select>
            <button type = "submit"> 선택 </button>
        </form>
</body>

